<div id="ldr">
  <div class="ldr-inner">
    <span class="ldr-v"><span>V</span><span>E</span><span>N</span><span>C</span><span>O</span><span>R</span><span>E</span></span>
    <div class="ldr-rule"></div>
    <div class="ldr-sub">Vencore Design Co. · Hyderabad</div>
  </div>
</div>
